<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>부상 방지 가이드</title>
  <!-- 부트스트랩 CSS -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
  >
  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/3d743e9be9.js" crossorigin="anonymous"
  ></script>
  <!-- Chart.js -->
  <script
    src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"
  ></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
  <!-- 네비게이션 바 -->
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <h1 class="logo text-left">
        <a href="index.html">
          <img class="shadow"
           src="{{ url_for('static', filename='img/palyon-log-img.jpeg') }}" alt="Logo" 
           style="border-radius: 10px; width: 80px; height: auto;">
        </a>
      </h1>
      <!-- (2) 검색창 -->
      <form action="{{ url_for('search_injuries') }}" method="get" class="d-flex" role="search" style="width:80%;">
        <input type="search" name="q" class="form-control me-2" 
                placeholder="부상 이름 / 스포츠 / 신체부위" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      </div>
  </nav>
  <nav class="navbar bg-body-tertiary px-3 mb-3">
    <!-- (1) 카테고리 선택 -->
    <div class="d-flex flex-wrap my-4">
      {% for cat in sports_categories %}
        <a title="{{cat['name']}}" href="{{ url_for('show_sport_category', sport_name=cat['name']) }}"
           class="btn btn-outline-dark btn-lg mr-2 mb-2 text-wrap">
          <i class="fas fa-solid {{ cat['icons'] }}"></i>
           <span class="fw-bold d-inline-block align-text-top"> {{ cat['name'] }} </span>
        </a>
      {% endfor %}
    </div>
  </nav>
  <!-- 실제 컨텐츠 -->
  <div class="container my-4">
    {% block content %}{% endblock %}
  </div>

  <!-- 부트스트랩 JS (Popper 포함) -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  ></script>
</body>
</html>