{% extends "base.html" %}

{% block content %}

<div class="row align-items-start">
  <!-- Left: Injury Frequency Chart -->
  <div class="col">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Injury Frequency
      </div>
      <div class="card-body row">
        <div class="col-6">
          <canvas id="injuryChart" height="200"></canvas>
        </div>
        <div class="col-4">
          <canvas id="injuryPieChart" height="200"></canvas>
        </div>
      </div>
    </div>
  </div>
  <!-- Right: Top Sport-Injury Frequency List -->
  <div class="">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Injury Statistics by Sport
      </div>
      <div class="card-body">
        <ul class="list-group">
          {% for row in sportInjuryList %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ row.sport }} - {{ row.body_part }} {{ row.injury }}
            <span class="badge bg-primary rounded-pill">{{ row.count }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <!-- Latest Videos -->
  <div class="col-md-12 mb-3">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Latest Videos
      </div>
      <div class="card-body">
        {% if new_injuries %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
          {% for item in new_injuries %}
          <div class="col">
            <div class="card h-100 border-dark">
              <a class="text-decoration-none" href="{{ item.video_url }}" target="_blank" title="{{ item.title }}">
                <img class="card-img-top" src="{{ item.thumbnail_url }}" alt="{{ item.title }}">
                <div class="card-body">
                  <h5 class="card-title text-muted">{{ item.title }}</h5>
                  <p class="card-text text-muted fw-bold">{{ item.channel_title }}</p>
                  <p class="card-text">
                    <small class="text-muted">{{ item.published_at }}</small>
                  </p>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>
        {% else %}
        <p>No latest videos available.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- Chart Data -->
<script>
  const injuryData = JSON.parse('{{ injuryChartData|tojson|default([])|safe }}') || [];
  const ctx = document.getElementById('injuryChart');

  const labels = injuryData.map(item => item.all_body_parts + ' ' + item.all_injuries);
  const counts = injuryData.map(item => item.count);

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [{
        label: 'Injury Occurrence Frequency',
        data: counts,
        backgroundColor: 'rgba(255, 99, 132, 0.6)',
      }]
    },
    options: {
      scales: {
        y: { beginAtZero: true }
      }
    }
  });
// Parsing data passed from Flask to JavaScript
const pieChartData = JSON.parse('{{ pie_chart_data|tojson }}') || [];
// Generate a pie chart with Chart.js
const ctx_pie = document.getElementById('injuryPieChart').getContext('2d');
new Chart(ctx_pie, {
    type: 'pie',
    data: pieChartData,
    options: {
        responsive: true,
        plugins: {
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Common Injury List'
            }
        }
    }
});
</script>

{% endblock %}